<div style="text-align:center">
    <div class="d-flex">
        <button
            *ngFor="let viewer of viewers" 
            [class.active]="selectedViewer.name === viewer.name"
            class="btn btn-outline-primary m-2"
            (click)="selectViewer(viewer.name)"
           
        >
        
        {{viewer.name}}
      
      
    </button>
    </div>
<div style="text-align:center">
   
    
    <ngx-doc-viewer
        queryParams="hl=Nl"
        [url]="selectedDoc"
        [viewerUrl]="selectedViewer.viewerUrl"
        [viewer]="selectedViewer.name"
        style="width:100%;height:80vh;"
    ></ngx-doc-viewer>
</div>